<mat-toolbar color="primary">
  <span>{{ surveyName }}</span>
</mat-toolbar>

<main>
  <section>

    <mat-stepper linear>
      <mat-step>
        <ng-template matStepLabel>Introduction</ng-template>
        <section>
          <h2>Introduction</h2>
          <p>{{ surveyIntroduction }}</p>
        </section>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>      
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Step 2</ng-template>
        <section>
          <h2>Test de evocación</h2>
          tenemos {{ inputs }} inputs

          <div *ngFor="let index of inputsArray">
            <mat-form-field appearance="outline">
              <mat-label>xxx</mat-label>
              <!-- <input matInput placeholder="Enter xxx" [(ngModel)]="xx"> -->
            </mat-form-field>
          </div>
          <div>
            <h4>Agregar otra palabra</h4>
            <button  (click)="addExtraInput()">
              <!-- mat-icon-button -->
              <!-- <mat-icon>add</mat-icon> -->
              x
            </button>
          </div>

        </section>
        <div>
          <button mat-button matStepperPrevious>Previous</button>
          <button mat-button matStepperNext>Next</button>
        </div>        
      </mat-step>
    </mat-stepper>

  </section>
</main>